@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img{
    width: 200px;
    height: 200;
}
body {
    background-image: url('./Images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}